.container-nuevo-video,
.container-nuevo-categoria {
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 868px;
}

.titulo-nuevo-video,
.titulo-nuevo-categoria {
    align-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 47px;
}

.titulo-nuevo-video h2,
.titulo-nuevo-categoria h2 {
    font-size: 60px;
}

.titulo-nuevo-video p,
.titulo-nuevo-categoria p {
    font-size: 20px;
}

.formulario-container {
    display: flex;
    flex-direction: column;

}

.formulario-container h3 {
    font-size: 36px;
    margin-bottom: 60px;
    padding: 10px;
    border-top: 3px solid #232323;
    border-bottom: 3px solid #232323;
}

.formulario-nuevo-video,
.formulario-nuevo-categoria {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}

.campo-container {
    display: flex;
    gap: 20px;
    width: 100%;
}

.campo-texto,
.campo-select {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.campo-texto label,
.campo-select label {
    font-size: 20px;
}

.campo-texto input,
.campo-select select {
    font-size: 20px;
    color: #fff;
    padding: 10px;
    border: 3px solid #232323;
    background-color: none;
    outline: none;
    width: 450px;
    border-radius: 10px;
    background-color: #191919;
}

.campo-texto input[type="color"] {
    height: 47.8px;
}

.text-area {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.text-area label {
    font-size: 20px;
}

.text-area textarea {
    font-size: 20px;
    color: #fff;
    border: 3px solid #232323;
    background-color: none;
    background-color: #191919;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 920px;
}

.boton-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.boton-container button {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    outline: none;
    background-color: #191919;
    color: #fff;
    cursor: pointer;
    width: 180px;
}

@media(max-width:835px) {

    .formulario-container {
        width: 100%;

    }

    .formulario-nuevo-video,
    .formulario-nuevo-categoria {
        width: 100%;
    }

    .campo-texto,
    .campo-select {
        width: 100%;
    }

    .campo-texto input,
    .campo-select select {
        width: 100%;
    }

    .text-area textarea {
        width: 100%;
    }

    .titulo-nuevo-video h2,
    .titulo-nuevo-categoria h2 {
        font-size: 40px;
    }

}

@media(max-width:500px) {

    .container-nuevo-video,
    .container-nuevo-categoria {
        padding: 20px;
        height: auto;
    }

    .titulo-nuevo-video h2,
    .titulo-nuevo-categoria h2 {
        font-size: 32px;
    }

    .titulo-nuevo-video p,
    .titulo-nuevo-categoria p {
        font-size: 16px;
    }

    .formulario-container h3 {
        font-size: 28px;
        text-align: center;
    }

    .formulario-nuevo-video,
    .formulario-nuevo-categoria {
        gap: 20px;
    }

    .campo-container {
        flex-direction: column;
    }

    .boton-container button {
        font-size: 16px;
    }
}