.container {
  width: 100%;
  margin: 0 auto;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 40px;
  font-family: "Source Sans 3", serif;
  background-color: var(--colorFondo);
  border-bottom: 2px solid var(--colorBorderHover);
  z-index: 100;
  position: relative;
}

.nav {
  display: flex;
  gap: 25px;
}

.nav-li {
  width: 150px;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--colorBorder);
  transition: 1s;
}

.nav-li:hover {
  border: 1px solid var(--colorBorderHover);
  background-color: var(--colorFondoBoton);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: 0.5s;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: var(--colorLetra);
  margin: 2px;
  border-radius: 5px;
  transition: 0.5s;
}

.banner {
  background-image: url("/img/banner.png");
  background-size: cover;
  background-position: center;
  padding: 0 40px;
  height: 832px;
  display: flex;
  align-items: center;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}


.content-titulo {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: justify;
}

.content-titulo h1 {
  font-size: 48px;
  font-weight: 600;
  padding: 10px 20px;
  width: 380px;
  align-self: start;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.content-titulo h2 {
  font-size: 46px;
  font-weight: 400;
}

.content-img {
  width: 100%;
  height: 320px;
}

.content-img img {
  border-radius: 20px;
  width: 100%;
}


.categorias {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 50px;
}

.categorias h2 {
  font-size: 32px;
  font-weight: 600;
  padding: 10px 20px;
  width: 432px;
  text-align: center;
  align-self: start;
  border-radius: 10px;
}

.videos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
}

.video {
  border-radius: 15px;
}

.video-portada {
  height: 245px;
  border-radius: 15px 15px 0 0;
}

.video-portada img {
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.video-descripcion {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-radius: 0 0 15px 15px;
  background-color: #040404;
}

.video-acciones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.accion {
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
  transition: 1s;
}

.accion:hover {
  color: #fff;
}

.footer {
  margin-top: 40px;
  background-color: #040404;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid var(--colorBorderHover);
}


@media(max-width:835px) {
  .nav-li {
    width: 120px;
    font-size: 12px;
  }

  .banner-content {
    flex-direction: column;
  }

  .content-titulo h1 {
    font-size: 40px;
  }

  .content-titulo h2 {
    font-size: 36px;
  }

  .categorias {
    width: 100%;
  }

  .categorias h2 {
    align-self: center;
    font-size: 36px;
    width: 442px;
  }

  .videos {
    overflow-x: scroll;
    scrollbar-color: var(--colorBorder) var(--colorFondoBoton);
    flex-wrap: nowrap;
    justify-content: start;
    padding: 20px 10px;
  }

  .video-portada {
    width: 340px;
    height: 200px;
  }

  .video-descripcion {
    width: 340px;
  }

}

@media(max-width:500px) {

  /* Estilos para móvil */
  /*... */
  .header {
    margin-bottom: 40px;
  }

  .nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    align-items: center;
    background-color: var(--colorFondo);
    padding: 20px;
    transition: 0.5s;
  }

  .nav.show {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /* Animación para el icono hamburguesa */
  .hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .header {
    padding: 30px 20px;
  }

  .logo {
    width: 140px;
  }

  .logo img {
    width: 100%;
  }

  .banner {
    padding: 0 20px;
  }

  .content-titulo h1 {
    width: auto;
    font-size: 36px;
  }

  .content-titulo h2 {
    font-size: 30px;
  }

  .categorias {
    padding: 20px;
  }

  .categorias h2 {
    width: auto;
    font-size: 30px;
  }

  .videos {
    /* gap: 80px; */
    padding: 20px;
  }

  .video-portada {
    width: auto;
  }

  .video-descripcion {
    width: auto;
  }


  .footer img {
    width: 140px;
  }


}