@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


:root {
  --colorFondo: #262626;
  --colorLetraEnlace: #fff;
  --colorBorder: #fff;
  --colorBorderHover: #2271d1;
  --colorFondoBoton: #040404;
  --colorLetra: #f5f5f5;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--colorFondoBoton) var(--colorFondo);
}

body {
  background-color: var(--colorFondo);
  color: var(--colorLetra);
  font-family: "Roboto", serif;
  height: 100vh;

}

a {
  text-decoration: none;
  color: var(--colorLetraEnlace);
  font-size: 14px;
}

li {
  list-style-type: none;
}

p {
  font-size: 18px;
}